@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
.navbar-light .navbar-nav .nav-link.colorCeleste{
    color:rgb(32, 118, 247);
}
.navbar-light .navbar-nav .nav-link.colorRosa{
    color:rgb(239, 60, 90);
}
.bgRosa{
    background-color:rgb(236, 181, 190);
}
.carousel{
    width:100%;
    padding: 0;
    margin:0;
}
.carousel-item{
    height:60vh;
    width:100%;
}
.carousel-item .imgAdaptada{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.botonLeerAhora{
    display: inline-block;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: cornflowerblue;
    text-align: center;
}
.bgTextoCarrusel{
    background-color: rgba(250, 250, 250, 0.5);
}
.contenedorTitulosPrincipales{
    text-align: center;
    width:60%;
    margin:0 auto;
    padding-top:3rem;
    padding-bottom: 3rem;
}
.contenedorTitulosPrincipales h1{
    font-size:3rem;
    margin-bottom: 3rem;
}
.card{
    width:22rem;
    margin-bottom: 1rem;
}
.opinion h2{
    margin-top:3rem;
    margin-bottom: 3rem;
    text-align: center;
}
.galeriaOpinion{
    display: flex;
    justify-content: center;
    gap:3rem;
}

.hijoGaleriaOpinion{
    width:20%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
}


.hijoGaleriaOpinion img{
    width:200px;
    height:200px;
    object-fit: cover;
  /*  border-radius: 50%;*/
}

.footer{
    height: 30vh;
    background-color:gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

@media screen and (min-width:0px) and (max-width: 768px) {
    .carousel-item{
        height:40vh;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  
    .listaItem{
        display: block;
        border-bottom: 1px solid rgb(54, 54, 54);
        text-align: center;
        margin-bottom: 0.5rem;
       /* padding-right: 3rem;*/
    }
    .listaItem a{
        font-size: 1.5rem;
    }
    .galeriaOpinion{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .hijoGaleriaOpinion{
        width: 80%;
        height: initial;
    }
}